    .footer {
        @media (min-width: $screen-xs) {
            max-width: 576px;
        }
        &__container {
            background-color: $colour-background-darker;
            padding: 0 20px 26px;
            margin: 0;
        }
        &__logo {
            width: 35%;
            padding: 28px 0 20px;
        }
        &__text {
            color: white;
            line-height: 1.5em;
        }
        &__icon {
            margin-right: 1em;
        }
        @media (min-width: $screen-sm) and (max-width: 991.98px) {
            max-width: 991px;
            &__logo {
                max-width: 120px;
            }
        }
        @media (min-width: 992px) and (max-width: 1440px) {
            max-width: 1440px;
            &__container {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
            &__logo {
                width: 120px;
            }
        }
    }
    
    .fa-hands-helping {
        font-size: .8em;
    }