    .footer {
        @media (min-width: $screen-xs) {
            max-width: 576px;
        }
        &__container {
            min-height: 120px;
            background-color: $colour-background-darker;
            padding: 28px 20px 26px;
            margin: 0;
        }
        &__title {
            color: white;
            font-family: $font-extra;
            padding-bottom: 20px;
            font-size: 1.1em;
        }
        &__text {
            color: white;
            line-height: 1.5em;
        }
        &__icon {
            margin-right: 1em;
        }
        @media (min-width: $screen-sm) and (max-width: 991.98px) {
            max-width: 991px;
        }
        @media (min-width: 992px) and (max-width: 1440px) {
            max-width: 1440px;
            &__container {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 28px 40px 26px;
            }
            &__title {
                padding-bottom: 0;
            }
        }
    }
    
    .fa-hands-helping {
        font-size: .8em;
    }