.header {
    @media (min-width: $screen-xs) {
        max-width: 576px;
    }
    &__container {
        max-width: 576px;
        width: 100%;
        box-shadow: -1px 25px 16px 4px rgba(53, 53, 53, 0.79);
    }
    &__logo {
        width: 43%;
        padding: 20px 0 18px;
    }
    &__link {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    &__icon {
        position: absolute;
        left: 20px;
        color: $colour-background-darker;
        font-size: 1.1em;
    }
    @media (min-width: $screen-sm) and (max-width: 991.98px) {
        max-width: 991px;
        &__container {
            max-width: 991px;
        }
        &__logo {
            width: 25%;
        }
    }
    @media (min-width: 992px) and (max-width: 1440px) {
        max-width: 1440px;
        &__container {
            max-width: 1440px;
            width: 100%;
            position: static;
        }
        &__logo {
            width: 20%;
        }
    }
}