.load {
    &__container {
        background-color: $colour-background-darker;
        height: 100%;
        width: 100%;
        padding-top: 20%;
        padding-bottom: 100%;
        position: absolute;
        top: 0;
        opacity: 1;
        z-index: -9999;
        animation: preload $anim-dur*3;
    }
    &__icon {
        &_colour {
            color: $colour-tertiary;
        }
    }
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: $font-extra;
    color: white;
    font-size: 2em;
    &__unit {
        cursor: pointer;
        animation: clip $anim-dur backwards infinite ease-in-out alternate;
        @for $i from 1 through $num-units {
            &--#{$i} {
                animation-delay: $anim-delay * $i;
                &:hover {
                    animation-play-state: paused;
                }
            }
            &--#{$i}-inv {
                animation-delay: $anim-delay * $i;
                animation-direction: alternate-reverse;
                color: $colour-primary;
                &:hover {
                    animation-play-state: paused;
                }
            }
        }
    }
}

@keyframes clip {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1.0);
    }
}

@keyframes preload {
    0% {
        opacity: 1;
        z-index: 1;
        clip-path: circle(100%);
    }
    80% {
        opacity: 1;
        clip-path: circle(100%);
    }
    99% {
        z-index: 1;
    }
    100% {
        opacity: 0;
        clip-path: circle(0%);
        z-index: -9999;
    }
}