.search {
    background-color: $colour-background-lighter;
    &__geo {
        background-color: #eaeaea;
        box-shadow: inset 1px 17px 7px -16px $colour-shadow-darker;
        margin-top: 70px;
    }
    &__title {
        margin: 0;
        padding-bottom: 58px;
    }
    &__box-title {
        margin: 0;
        padding: 40px 30px 30px 30px;
    }
}