        .menu {
            background-color: $colour-background-lighter;
            &__image {
                min-height: 350px;
                display: flex;
                align-items: flex-end
            }
            &__heading {
                @include head-title-cursive;
                background-color: $colour-background-lighter;
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 30px 22px 5px;
                border-top-left-radius: 40px;
                border-top-right-radius: 40px;
            }
            &__box-list {
                padding: 0 15px;
            }
            &__btn-form {
                padding: 37px 0 58px;
            }
            @media (min-width: $screen-lg) {
                max-width: $screen-xl;
                &__box-list {
                    display: flex;
                    justify-content: space-between;
                    width: 100%;
                }
                .menu-list {
                    padding: 0 10px;
                    width: 33%;
                }
            }
            @media (min-width: $screen-xl) {
                max-width: 2700px;
                &__box-list {
                    padding: 0 30px;
                }
                &__heading {
                    padding: 30px 40px 5px;
                }
            }
        }
        
        .menu-list {
            &__subtitle {
                padding-top: 25px;
            }
            &__text-item {
                line-height: 1.5em;
                font-size: .9em;
                flex: 40%;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            &__price {
                position: relative;
                left: 50px;
                transition: transform 1s;
            }
            &__box-item {
                &:hover {
                    &~.line {
                        animation: 3s infinite alternate line;
                    }
                }
            }
            &__item {
                @include item;
                @include shadow;
                overflow: hidden;
                display: flex;
                align-items: center;
                padding: 0 0 0 11px;
                margin: 15px 0;
                background-color: white;
                transition: transform $anim-dur;
                animation: item-mv $anim-dur ease-in-out;
                &:hover {
                    transform: scale(1.01);
                    &>.btn-checked {
                        transform: translateX(-50px);
                        opacity: 1;
                        &>.btn-checked__icon {
                            transform: rotate(-360deg);
                        }
                    }
                    &>.menu-list__price {
                        transform: translateX(-55px);
                    }
                }
                @for $i from 1 through $num-items {
                    &_#{$i} {
                        animation-delay: $anim-delay * $i;
                    }
                }
            }
        }
        
        @keyframes item-mv {
            0% {
                opacity: 0;
                transform: translateY(-100px);
            }
            17% {
                opacity: .2;
            }
            46% {
                opacity: .6;
                transform: translateY(40px);
            }
            85% {
                opacity: .8;
            }
            100% {
                opacity: 1;
                transform: translateY(0px);
            }
        }