.search {
    @media (min-width: $screen-sm) {
        max-width: 576px;
    }
    background-color: $colour-background-lighter;
    &__title {
        margin: 0;
        padding-bottom: 58px;
        padding: 0 24px;
        text-align: center;
    }
    &__text {
        text-align: center;
    }
    &__box-title {
        margin: 0;
        padding: 40px 30px 30px 30px;
        background-color: blueviolet;
    }
}