.main-wrapper {
    max-width: 576px;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.menu__wrapper {
    padding: 0 15px;
    background-color: #f6f6f6;
}