.main-wrapper {
    @media (min-width: $screen-sm) {
        max-width: 576px;
    }
    max-width: 576px;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.menu__wrapper {
    @media (min-width: $screen-sm) {
        max-width: 576px;
    }
    padding: 0 15px;
    background-color: $colour-background-lighter;
}