@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&family=Shrikhand&display=swap");
li,
ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

body,
p,
h1,
h2 {
  margin: 0;
}

.titre {
  margin: 0;
}

button {
  border: none;
}

* {
  box-sizing: border-box;
}

body,
button {
  font-family: "Roboto";
  background-color: white;
  font-size: 1em;
  margin: 0;
}

.main-wrapper {
  background-color: #f6f6f6;
  min-height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
@media (min-width: 576px) and (max-width: 992px) {
  .main-wrapper {
    max-width: 991px;
  }
}
@media (min-width: 992px) {
  .main-wrapper {
    width: 100%;
  }
}

.link-block {
  display: block;
}

.header {
  background-color: white;
  width: 100%;
  z-index: 1;
}
.header__container {
  padding: 23px 0 18px;
  width: 100%;
  box-shadow: 0px 2px 16px 4px rgba(53, 53, 53, 0.57);
}
.header__link {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.header__title {
  font-family: "Shrikhand";
  font-size: 2em;
}
.header__icon {
  position: absolute;
  left: 20px;
  color: #353535;
  font-size: 1.1em;
}

.footer__container {
  min-height: 120px;
  background-color: #353535;
  padding: 28px 20px 26px;
  margin: 0;
}
.footer__title {
  color: white;
  font-family: "Shrikhand";
  padding-bottom: 20px;
  font-size: 1.1em;
}
.footer__text {
  color: white;
  line-height: 1.5em;
}
.footer__icon {
  margin-right: 1em;
}
@media (min-width: 576px) and (max-width: 992px) {
  .footer {
    max-width: 991px;
  }
}
@media (min-width: 992px) {
  .footer {
    width: 100%;
  }
  .footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 28px 40px 26px;
  }
  .footer__title {
    padding-bottom: 0;
  }
}

.fa-hands-helping {
  font-size: 0.8em;
}

.search__container {
  background-color: #f6f6f6;
}
.search__box {
  padding: 45px 20px 55px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.search__title {
  padding: 0 24px 27px;
  text-align: center;
}
.search__text {
  text-align: center;
}
.search__box-title {
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
}

.fonction {
  background-color: white;
}
.fonction__container {
  display: flex;
  flex-direction: column;
  padding: 56px 20px 59px 30px;
}
.fonction__head-title {
  padding: 0 0 27px;
  position: relative;
  right: 10px;
}
.fonction__item-text {
  text-align: left;
  min-width: 191px;
  flex-basis: 60%;
}
.fonction__item {
  border-radius: 20px;
  min-height: 68px;
  cursor: pointer;
  box-shadow: 10px 10px 29px -5px gray;
  width: 100%;
  font-weight: bold;
  margin-bottom: 23px;
  background-color: #f6f6f6;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  z-index: 1;
  transition: transform 800ms ease-in-out;
}
.fonction__item:hover {
  transform: scale(0.99);
  cursor: pointer;
}
.fonction__item:hover::after {
  opacity: 1;
}
.fonction__item:hover > .fonction__icon_colour {
  color: #9356dc;
}
.fonction__item::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  z-index: -1;
  border-radius: 20px;
  background: radial-gradient(ellipse, white 0%, #d9baff 100%);
  transition: opacity 1000ms;
  opacity: 0;
}
.fonction__icon_colour {
  color: gray;
}
.fonction__circle {
  background-color: #9356dc;
  position: relative;
  right: 8%;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  color: white;
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 0) and (max-width: 992px) {
  .fonction {
    max-width: 992px;
  }
  .fonction__container {
    max-width: 576px;
    margin: 0 auto;
  }
}
@media (min-width: 992px) {
  .fonction__container {
    max-width: 1440px;
    margin: 0 auto;
  }
  .fonction__box-item {
    display: flex;
  }
  .fonction__item {
    margin-right: 5%;
    flex: 30%;
    max-width: 400px;
  }
}

.content {
  background-color: #f6f6f6;
}
.content__container {
  padding: 56px 20px 65px;
}
.content__head-title {
  padding: 0 0 27px;
}
.content__block {
  flex: 50%;
}
.content__element {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  min-height: 252px;
  border-radius: 10px;
  margin-bottom: 17px;
  box-shadow: 10px 10px 29px -5px gray;
}
.content__text-element {
  width: 100%;
  background-color: white;
  margin-top: 30%;
  padding: 15px;
  text-align: left;
  line-height: 1.5em;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 576px) and (max-width: 1440px) {
  .content {
    max-width: 1440px;
  }
  .content__container {
    padding: 56px 20px 65px;
  }
  .content__block {
    margin: 15px 20px;
  }
  .content__block-image {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .content__block-left {
    display: flex;
    justify-content: space-between;
  }
  .content__block-right {
    display: flex;
    justify-content: space-between;
  }
}
@media (min-width: 1441px) {
  .content__container {
    padding: 56px 30px 65px;
    max-width: 2700px;
    margin: 0 auto;
  }
  .content__block {
    margin: 0 30px;
  }
  .content__block-image {
    display: flex;
  }
  .content__block-left {
    display: flex;
    flex-direction: row;
    width: 50%;
  }
  .content__block-right {
    display: flex;
    flex-direction: row;
    width: 50%;
  }
}

.menu {
  background-color: #f6f6f6;
  margin: 0 auto;
}
.menu__image {
  min-height: 350px;
  display: flex;
  align-items: flex-end;
}
.menu__heading {
  font-family: "Shrikhand";
  font-size: 1.2em;
  background-color: #f6f6f6;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 22px 5px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
}
.menu__box-list {
  padding: 0 15px;
}
.menu__btn-form {
  padding: 37px 0 58px;
}
@media (min-width: 992px) {
  .menu {
    max-width: 1200px;
  }
  .menu__box-list {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .menu .menu-list {
    padding: 0 10px;
    width: 33%;
  }
}
@media (min-width: 1200px) {
  .menu {
    max-width: 2700px;
  }
  .menu__box-list {
    padding: 0 30px;
  }
  .menu__heading {
    padding: 30px 40px 5px;
  }
}

.menu-list__subtitle {
  padding-top: 25px;
}
.menu-list__text-item {
  line-height: 1.5em;
  font-size: 0.9em;
  flex: 40%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  background-color: aqua;
}
.menu-list__price {
  position: relative;
  left: 50px;
  transition: transform 1000ms;
}
.menu-list__box-item:hover ~ .line {
  animation: 3000ms infinite alternate line;
}
.menu-list__item {
  border-radius: 20px;
  min-height: 68px;
  cursor: pointer;
  box-shadow: 10px 10px 29px -5px gray;
  overflow: hidden;
  display: flex;
  align-items: center;
  padding: 0 0 0 11px;
  margin: 15px 0;
  background-color: white;
  transition: transform 1000ms;
  animation: item-mv 1000ms ease-in-out;
}
.menu-list__item:hover {
  transform: scale(1.01);
}
.menu-list__item:hover > .btn-checked {
  transform: translateX(-50px);
  opacity: 1;
}
.menu-list__item:hover > .btn-checked > .btn-checked__icon {
  transform: rotate(360deg);
}
.menu-list__item:hover > .menu-list__price {
  transform: translateX(-55px);
}
.menu-list__item_1 {
  animation-delay: 90.9090909091ms;
}
.menu-list__item_2 {
  animation-delay: 181.8181818182ms;
}
.menu-list__item_3 {
  animation-delay: 272.7272727273ms;
}
.menu-list__item_4 {
  animation-delay: 363.6363636364ms;
}

@keyframes item-mv {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }
  17% {
    opacity: 0.2;
  }
  46% {
    opacity: 0.6;
    transform: translateY(40px);
  }
  85% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
.load {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Shrikhand";
  color: white;
  font-size: 2em;
}
.load__container {
  background-color: #353535;
  height: 100%;
  width: 100%;
  padding-top: 20%;
  position: fixed;
  top: 0;
  opacity: 1;
  z-index: -9999;
  animation: preload 3000ms;
}
.load__container:before {
  content: "";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.4;
}
.load__icon {
  color: #99E2D0;
}
.load__icon_colour {
  color: #99E2D0;
}
.load__unit {
  cursor: pointer;
  animation: clip 1000ms backwards infinite ease-in-out alternate;
}
.load__unit--1 {
  animation-delay: 90.9090909091ms;
}
.load__unit--1:hover {
  animation-play-state: paused;
}
.load__unit--1-inv {
  animation-delay: 90.9090909091ms;
  animation-direction: alternate-reverse;
  color: #9356dc;
}
.load__unit--1-inv:hover {
  animation-play-state: paused;
}
.load__unit--2 {
  animation-delay: 181.8181818182ms;
}
.load__unit--2:hover {
  animation-play-state: paused;
}
.load__unit--2-inv {
  animation-delay: 181.8181818182ms;
  animation-direction: alternate-reverse;
  color: #9356dc;
}
.load__unit--2-inv:hover {
  animation-play-state: paused;
}
.load__unit--3 {
  animation-delay: 272.7272727273ms;
}
.load__unit--3:hover {
  animation-play-state: paused;
}
.load__unit--3-inv {
  animation-delay: 272.7272727273ms;
  animation-direction: alternate-reverse;
  color: #9356dc;
}
.load__unit--3-inv:hover {
  animation-play-state: paused;
}
.load__unit--4 {
  animation-delay: 363.6363636364ms;
}
.load__unit--4:hover {
  animation-play-state: paused;
}
.load__unit--4-inv {
  animation-delay: 363.6363636364ms;
  animation-direction: alternate-reverse;
  color: #9356dc;
}
.load__unit--4-inv:hover {
  animation-play-state: paused;
}
.load__unit--5 {
  animation-delay: 454.5454545455ms;
}
.load__unit--5:hover {
  animation-play-state: paused;
}
.load__unit--5-inv {
  animation-delay: 454.5454545455ms;
  animation-direction: alternate-reverse;
  color: #9356dc;
}
.load__unit--5-inv:hover {
  animation-play-state: paused;
}
.load__unit--6 {
  animation-delay: 545.4545454545ms;
}
.load__unit--6:hover {
  animation-play-state: paused;
}
.load__unit--6-inv {
  animation-delay: 545.4545454545ms;
  animation-direction: alternate-reverse;
  color: #9356dc;
}
.load__unit--6-inv:hover {
  animation-play-state: paused;
}
.load__unit--7 {
  animation-delay: 636.3636363636ms;
}
.load__unit--7:hover {
  animation-play-state: paused;
}
.load__unit--7-inv {
  animation-delay: 636.3636363636ms;
  animation-direction: alternate-reverse;
  color: #9356dc;
}
.load__unit--7-inv:hover {
  animation-play-state: paused;
}
.load__unit--8 {
  animation-delay: 727.2727272727ms;
}
.load__unit--8:hover {
  animation-play-state: paused;
}
.load__unit--8-inv {
  animation-delay: 727.2727272727ms;
  animation-direction: alternate-reverse;
  color: #9356dc;
}
.load__unit--8-inv:hover {
  animation-play-state: paused;
}
.load__unit--9 {
  animation-delay: 818.1818181818ms;
}
.load__unit--9:hover {
  animation-play-state: paused;
}
.load__unit--9-inv {
  animation-delay: 818.1818181818ms;
  animation-direction: alternate-reverse;
  color: #9356dc;
}
.load__unit--9-inv:hover {
  animation-play-state: paused;
}
.load__unit--10 {
  animation-delay: 909.0909090909ms;
}
.load__unit--10:hover {
  animation-play-state: paused;
}
.load__unit--10-inv {
  animation-delay: 909.0909090909ms;
  animation-direction: alternate-reverse;
  color: #9356dc;
}
.load__unit--10-inv:hover {
  animation-play-state: paused;
}
.load__unit--11 {
  animation-delay: 1000ms;
}
.load__unit--11:hover {
  animation-play-state: paused;
}
.load__unit--11-inv {
  animation-delay: 1000ms;
  animation-direction: alternate-reverse;
  color: #9356dc;
}
.load__unit--11-inv:hover {
  animation-play-state: paused;
}

@keyframes clip {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes preload {
  0% {
    opacity: 1;
    z-index: 1;
    clip-path: circle(100%);
  }
  80% {
    opacity: 1;
    clip-path: circle(100%);
  }
  99% {
    z-index: 1;
  }
  100% {
    opacity: 0;
    clip-path: circle(0%);
    z-index: -9999;
  }
}
.btn-form {
  display: flex;
  justify-content: space-around;
}

.fa-heart {
  cursor: pointer;
}
.fa-heart__content {
  font-size: 1.4em;
}
.fa-heart__content_empty {
  position: relative;
  right: 22px;
}
.fa-heart__menu {
  font-size: 1.2em;
}
.fa-heart__menu_empty {
  position: relative;
  right: 23px;
}
.fa-heart__box {
  position: relative;
  left: 21px;
}
.fa-heart__box:hover > .fa-heart_full {
  opacity: 1;
  transform: scale(1);
}
.fa-heart_full {
  color: #ff79da;
  background: #ff79da;
  background: linear-gradient(63deg, #ff79da 0%, #9356dc 100%);
  background-clip: border-box;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  opacity: 0;
  transition: all 1000ms;
  transform: scale(0);
  transform-origin: bottom;
}

.fa-mobile-alt {
  font-size: 1.2em;
}

.sticker {
  padding: 12px 12px;
  margin: 15px 15px;
}
.sticker_green {
  background-color: #99E2D0;
  color: #3d7062;
}
.sticker_trans {
  color: transparent;
}

.btn {
  box-shadow: 10px 10px 29px -5px gray;
  min-width: 200px;
  border-radius: 5em;
  padding: 1.1em;
  cursor: pointer;
  background: #ff79da;
  background: linear-gradient(172deg, #ff79da 0%, #9356dc 100%);
  color: white;
  position: relative;
  z-index: 1;
  transition: all 1000ms ease-in-out;
}
.btn:hover {
  transform: scale(1.01);
}
.btn:hover::after {
  opacity: 1;
}
.btn::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  z-index: -1;
  border-radius: 5em;
  background: #ff79da;
  background: linear-gradient(348deg, #ff79da 0%, #9356dc 100%);
  transition: all 1000ms;
}
.btn__text {
  font-size: 0.9em;
}

.btn-checked {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
  left: 50px;
  min-height: 68px;
  width: 60px;
  background-color: #99E2D0;
  transition: all 1000ms;
  opacity: 0;
}
.btn-checked__icon {
  color: white;
  font-size: 1.2em;
  transition: all 666.6666666667ms ease-in-out;
}

.line {
  height: 2px;
  width: 100%;
  transform-origin: left;
  animation: 3s infinite alternate line;
}
.line_colour {
  background-color: #99E2D0;
}

@keyframes line {
  0% {
    transform: scaleX(0.1);
  }
  100% {
    transform: scaleX(1);
    opacity: 0;
  }
}
.image-1 {
  background: url("../img/restaurants/la-palette-du-gout.jpg") no-repeat;
  background-size: cover;
}

.image-2 {
  background: url("../img/restaurants/la-note-enchantee.jpg") no-repeat;
  background-size: cover;
}

.image-3 {
  background: url("../img/restaurants/a-la-francaise.jpg") no-repeat;
  background-size: cover;
}

.image-4 {
  background: url("../img/restaurants/le-delice-des-sens.jpg") no-repeat;
  background-size: cover;
}

.geo {
  background-color: #eaeaea;
}
.geo__text {
  display: block;
  text-align: center;
  padding: 17px 80px;
  font-size: 1.1em;
  font-weight: bold;
  color: #575757;
}
.geo__icon {
  color: #353535;
  padding-right: 1em;
}

/*# sourceMappingURL=style.css.map */
