.btn {
    width: 58.45%;
    border-radius: 5em;
    padding: 1.1em;
    cursor: pointer;
    background-color: $colour-secondary;
    color: white;
    transition: all 1000ms ease-in-out;
    &:hover {
        transform: scale(1.1);
        background-color: $colour-primary;
        box-shadow: 1px 1px 10px 0 $colour-shadow-darker;
    }
}