.btn {
    width: 58.45%;
    border-radius: 5em;
    padding: 1.1em;
    cursor: pointer;
    background-color: $colour-secondary;
    color: white;
    transition: transform 400ms;
}

.btn:hover {
    transition: 2s;
    transform: scale(1.1);
    transition: transform 600ms ease-in-out;
    box-shadow: 1px 1px 10px 0 $colour-shadow-darker;
    background: radial-gradient(#e67ec8, $colour-secondary, $colour-primary);
}