.btn {
    @include shadow;
    width: 58.45%;
    border-radius: 5em;
    padding: 1.1em;
    cursor: pointer;
    background-color: $colour-secondary;
    color: white;
    position: relative;
    z-index: 1;
    transition: transform 800ms ease-in-out;
    &__text {
        margin: 0;
        font-size: .8em;
    }
    &:hover {
        transform: scale(1.1);
        &::after {
            opacity: 1;
        }
    }
    &::after {
        @include after;
        background: radial-gradient(ellipse, lighten($colour-secondary, 5) 0%, darken($colour-primary, 10) 100%);
        transition: opacity 1000ms;
    }
}