.geo {
    background-color: #eaeaea;
    &__text {
        display: block;
        text-align: center;
        padding: 17px 80px;
        font-size: 1.1em;
        font-weight: bold;
        color: #575757;
    }
    &__icon {
        color: $colour-background-darker;
        padding-right: 1em;
    }
}