    .fa-heart {
        font-size: 1.4em;
        cursor: pointer;
        &__box {
            position: relative;
            left: 21px;
            &:hover {
                &>.fa-heart_full {
                    opacity: 1;
                    transform: scale(1);
                }
            }
        }
        &_full {
            color: $colour-secondary;
            opacity: 0;
            transition: all $anim-dur;
            transform: scale(0);
            transform-origin: bottom;
        }
        &_empty {
            position: relative;
            right: 22px;
        }
    }
    
    .fa-mobile-alt {
        font-size: 1.2em;
    }