.fa-map-marker-alt {
    color: black;
    padding-right: 1.1em;
}

.fa-mobile-alt,
.fa-list-ul,
.fa-store {
    color: grey;
}

.fa-heart {
    font-size: 1.4em;
}

.fa-heart:hover {
    color: #9356DC;
}