    .fa-heart {
        cursor: pointer;
        &__content {
            font-size: 1.4em;
            &_empty {
                position: relative;
                right: 22px;
            }
        }
        &__menu {
            font-size: 1.2em;
            &_empty {
                position: relative;
                right: 23px;
            }
        }
        &__box {
            position: relative;
            left: 21px;
            &:hover {
                &>.fa-heart_full {
                    opacity: 1;
                    transform: scale(1);
                }
            }
        }
        &_full {
            color: $colour-secondary;
            background: $colour-secondary;
            background: linear-gradient(63deg, $colour-secondary 0%, $colour-primary 100%);
            background-clip: border-box;
            -webkit-text-fill-color: transparent;
            -webkit-background-clip: text;
            opacity: 0;
            transition: all $anim-dur;
            transform: scale(0);
            transform-origin: bottom;
        }
    }
    
    .fa-mobile-alt {
        font-size: 1.2em;
    }