.image-1 {
    background: url("../img/restaurants/la-palette-du-gout.jpg") no-repeat;
    background-size: cover;
}

.image-2 {
    background: url("../img/restaurants/la-note-enchantee.jpg") no-repeat;
    background-size: cover;
}

.image-3 {
    background: url("../img/restaurants/a-la-francaise.jpg") no-repeat;
    background-size: cover;
}

.image-4 {
    background: url("../img/restaurants/le-delice-des-sens.jpg") no-repeat;
    background-size: cover;
}