   .line {
       height: 2px;
       animation: 3s infinite alternate line;
       &_colour {
           background-color: $colour-tertiary;
       }
   }
   
   @keyframes line {
       0% {
           width: 10%;
       }
       100% {
           width: 100%;
           opacity: 0;
       }
   }