   .line {
       height: 2px;
       width: 100%;
       transform-origin: left;
       animation: 3s infinite alternate line;
       &_colour {
           background-color: $colour-tertiary;
       }
   }
   
   @keyframes line {
       0% {
           transform: scaleX(10%);
       }
       100% {
           transform: scaleX(100%);
           opacity: 0;
       }
   }