.item__sticker {
    padding: 12px 12px;
    margin: 15px 15px;
    &_green {
        background-color: $colour-tertiary;
        color: #3d7062;
    }
    &_trans {
        color: transparent;
    }
}