.footer__text {
    color: white;
    line-height: 1.5em;
}

.geo__text {
    display: block;
    text-align: center;
    padding: 17px 80px;
    font-size: 1.1em;
    font-weight: bold;
    color: rgb(87, 85, 85);
    margin: 0;
}

.text {
    text-align: center;
}