.fonction__head-title {
    padding: 50px 0 27px;
}

.title {
    padding: 0 24px;
    text-align: center;
}

.head-title {
    padding: 50px 0 27px;
    margin: 0;
}

.menu__subtitle {
    padding-top: 25px;
}