.fonction__head-title {
    padding: 50px 0 27px;
}

.menu {
    &__heading {
        @include head-title-cursive;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 37px 38px 28px 15px;
        border-top-left-radius: 40px;
        border-top-right-radius: 40px;
        background-color: $colour-fond;
        width: 100%;
    }
}

.title {
    padding: 0 24px;
    text-align: center;
}