@mixin head-title-cursive {
    font-family: $title-secondary;
    font-size: 1.5em;
    letter-spacing: .2vh;
}

@mixin item {
    border-radius: 20px;
    box-shadow: 1px 1px 10px 0 gray;
    min-height: 68px;
}