@mixin head-title-cursive {
    font-family: $font-extra;
    font-size: 1.2em;
}

@mixin item {
    border-radius: 20px;
    min-height: 68px;
    cursor: pointer;
}

@mixin shadow {
    box-shadow: 1px 1px 10px 0 $colour-shadow-darker;
}

@mixin after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    z-index: -1;
}

@mixin head-title-basic-marge {
    padding: 0 0 27px;
}